---
import Websites from "./Websites.astro";
---

<div
  class="ring-1 lg:row-span-2 flex flex-col justify-between group hover:ring-primary/10 dark:hover:ring-white/20 duration-300 h-full dark:ring-white/10 ring-primary/5 lg:row-start-2 lg:gap-0 md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
>
  <div class="md:flex justify-between items-end">
    <div>
      <span class="font-medium text-primary dark:text-white">
        Recent works:
      </span>
      <h3
        class="text-3xl tracking-tight font-medium text-primary dark:text-white md:text-6xl mt-2"
      >
        Websites
      </h3>
    </div>
    <p class="mt-4 text-sm text-end text-zinc-500 dark:text-zinc-400">
      A collection of the websites I've created recently.
      <br />
      <a
      href="/websites"
      class="underline"
      >Comprehensive list↗</a>
    </p>
  </div>
  <Websites />
</div>
