@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .condensed {
    font-stretch: 75%;
  }
  .wide {
    font-stretch: 125%;
  }
}

/* CSS */
@font-face {
  font-family: 'Mona Sans';
  src:
    url('/assets/font/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/assets/font/Mona-Sans.woff2') format('woff2-variations'),
    url('/assets/font/Mona-Sans.ttf') format('woff2 supports variations'),
    url('/assets/font/Mona-Sans.ttf') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  font-family: Inter,
    -apple-system, /* Apple devices */
    BlinkMacSystemFont, /* Standard font for macOS */
    "Segoe UI", /* Windows */
    Roboto, /* Android */
    Oxygen-Sans, /* KDE */
    Ubuntu, /* Ubuntu */
    Cantarell, /* GNOME */
    "Helvetica Neue", /* macOS (older versions) */
    Helvetica, /* Generic sans-serif */
    system-ui, /* Default system UI font */
    sans-serif; /* Default sans-serif */
  font-feature-settings:
    "liga" 1,
    "calt" 1, /* Contextual Alternates */
    "dlig" 1, /* Discretionary Ligatures */
    "ss07" 1, /* fSquare punctuation */
    "ss08" 1, /* Square quotes */
    "zero" 1, /* Slashed zero */
    "tnum" 1, /* Tabular numbers */
    "cv03" 1, /* Open six */
    "cv04" 1, /* Open nine */
    "cv01" 1, /* Alternate one */
    "cv09", /* Flat-top three */
    "cv02" 1; /* Open 4 */
}
.display {
  font-family: 'Mona-Sans',
    -apple-system, /* Apple devices */
    BlinkMacSystemFont, /* Standard font for macOS */
    "Segoe UI", /* Windows */
    Roboto, /* Android */
    Oxygen-Sans, /* KDE */
    Ubuntu, /* Ubuntu */
    Cantarell, /* GNOME */
    "Helvetica Neue", /* macOS (older versions) */
    Helvetica, /* Generic sans-serif */
    system-ui, /* Default system UI font */
    sans-serif; /* Default sans-serif */
  font-feature-settings:
    "liga" 1,
    "dlig" 1,
    "ss01" 1, /* Square diacritical marks */
    "ss03" 1, /* Lowercase l with tail */
    "ss05" 1, /* Double-storey a */
    "ss08" 1; /* Tabular zero with straight bar */
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, system-ui, sans-serif;
  }
  .display {
    font-family: 'Mona-Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, system-ui, sans-serif;
  }
}

/**/
a.website > img {
  width: 37.5%;
  height: auto;
  z-index: 99;
}
a.website:not(:hover) > img {
  display: none;
}

/*Lenis*/
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
