---
import BaseHead from "../components/global/BaseHead.astro";
import Landing from "../layouts/Landing.astro";
import GTMafterBody from "../components/global/tracking/GTMafterBody.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="LP Dev Central"
      description="This is another experiment"
    />
  </head>

  <body class="dark:bg-primary bg-zinc-200">
    <GTMafterBody />
    <Landing />
    <SpeedInsights />
  </body>
</html>
