---
// Globals
import Layout from "../layouts/Layout.astro";
import Card from "../components/card/Card.astro";

// Page related
import About from "../sections/About.astro";
import Social from "../sections/Social.astro";
import Portfolio from "../sections/Portfolio.astro";
import BigProject from "../sections/Project0big.astro";
import Project1 from "../sections/Project1.astro";
import Project2 from "../sections/Project2.astro";
import Visio from "../sections/Visio.astro";
import Form from "../sections/Form.astro";
import Testimonials from "../sections/Testimonials.astro";
import Quote from "../sections/Quote.astro";
import SpreadProject from '../sections/Spread_Project.astro'
---

<Layout
  title="LP Dev Central"
  description="Luigi Pedata - Designer & Web Developer"
>
  <main class="p-4 grid grid-cols-1 gap-4 list-none lg:grid-cols-3 xl:grid-cols-4  max-w-screen-2xl mx-auto">

    <About />
    <Social />
    <BigProject />
    <Portfolio />
    <Project1 />
    <Project2 />
    <Visio />
    <Form />
    <Testimonials />
    <Quote />

  </main>
</Layout>