---
// Globals
import BasicLayout from "@/layouts/BasicLayout.astro";
import Card from "../components/ui/Card.astro";

// Page related
import About from "../sections/About.astro";
import Social from "../sections/Social.astro";
import Portfolio from "../sections/Portfolio.astro";
import Websites from "../sections/pWebsites.astro";
import Blowhammer from "../sections/pBlowhammer.astro";
import Disco from "../sections/pDisco.astro";
import Visio from "../sections/Visio.astro";
import Form from "../sections/Form.astro";
import Testimonials from "../sections/Testimonials.astro";
import Quote from "../sections/Quote.astro";
import SpreadProject from '../sections/Spread_Project.astro'
---

<BasicLayout
  title="LP Dev Central"
  description="Luigi Pedata - Designer & Web Developer"
>
  <main class="p-4 grid grid-cols-1 gap-4 list-none lg:grid-cols-3 xl:grid-cols-4  max-w-screen-2xl mx-auto">

    <About />
    <Social />
    <Websites />
    <Portfolio />
    <Blowhammer />
    <Disco />
    <Visio />
    <Form />
    <Testimonials />
    <Quote />

  </main>
</BasicLayout>