---
// Globals
import Layout from "../layouts/Layout.astro";

// Page related
import About from "../layouts/landing/About.astro";
import Social from "../layouts/landing/Social.astro";
import Portfolio from "../layouts/landing/Portfolio.astro";
import BigProject from "../layouts/landing/Project0big.astro";
import Project1 from "../layouts/landing/Project1.astro";
import Project2 from "../layouts/landing/Project2.astro";
import Visio from "../layouts/landing/Visio.astro";
import Form from "../layouts/landing/Form.astro";
import Testimonials from "../layouts/landing/Testimonials.astro";
import Quote from "../layouts/landing/Quote.astro";
import SpreadProject from '../layouts/landing/Spread_Project.astro'
---

<Layout
  title="LP Dev Central"
  description="Luigi Pedata - Designer & Web Developer"
/>
  <main
    slot="main"
    class="p-4 grid grid-cols-1 gap-4 list-none lg:grid-cols-3 xl:grid-cols-4  max-w-screen-2xl mx-auto">

    <About />
    <Social />
    <BigProject />
    <Portfolio />
    <Project1 />
    <Project2 />
    <Visio />
    <Form />
    <Testimonials />
    <Quote />

  </main>
</Layout>