---
// Globals
import Layout from '../layouts/Layout.astro';
import {Card, CardHeader, CardBody, CardFooter, Image, Button, Chip, Snippet} from "@nextui-org/react";
// Page related

---

<Layout
  title="LP Dev Central"
  description="Luigi Pedata - Designer & Web Developer"
>
    <main class="p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-screen-2xl mx-auto">
        <Chip>Chip</Chip>
        <Snippet>npm install @nextui-org/react</Snippet>
    </main>

</Layout>