---
// Globals
import BasicLayout from '@/layouts/BasicLayout.astro';
import Pulse from '@/components/ui/Pulse.astro';
import { Badge } from "@/components/ui/badge";
import { Image, Picture } from 'astro:assets';

// Page related
import { websiteData } from '@/lib/WebsitesData.json';
import '@/styles/websites.css';
import { WebsiteDrawer } from '@/components/my/WebsiteCardDrawer';
---

<BasicLayout
  title="Websites | LP Dev Central"
  description="Some of the websites that I designed and developed"
>
    <main class="main-container">
        
    </main>
</BasicLayout>