<footer class="px-4 md:px-8">
    <div
      class="flex py-4 items-center justify-between gap-4 sm:flex-col"
    >
      <p
        class="text-center text-sm leading-loose text-muted-foreground md:text-left tracking-tight text-zinc-700 dark:text-zinc-500"
      >
        Built by with <span class="text-red-500">❤️</span> using Astro and Tailwind CSS.
      </p>
    </div>
  </footer>