<footer class="p-4 bottom-0 mt-auto flex items-center justify-between gap-4 sm:flex-col" transition:persist=>
    <p
      class="text-muted-foreground text-center text-sm leading-loose tracking-tight text-zinc-700 md:text-left dark:text-zinc-500"
    >
      Built with <span class="text-red-500">❤️</span> using Astro and Tailwind
      CSS.
    </p>
</footer>
