<header
  class="sticky top-0 z-50 px-4 bg-background/95 dark:bg-secondary/60 backdrop-blur supports-[backdrop-filter]:bg-background/60
   dark:ring-white/10 ring-primary/5 shadow-xl dark:shadow-thick"
>
  <div
    class="flex py-4 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-6 md:gap-10">
      <a href="/" class="flex items-center space-x-2 tracking-tight text-primary dark:text-white">
        <span class="inline-block font-bold">LP Dev Central</span>
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1 tracking-tight text-primary dark:text-white">
        <a
          href="/websites"
          target=""
          rel=""
          class=""
        >
          Websites
        </a>
      </nav>
    </div>
  </div>
</header>