---
import { menuConfig } from "site.config";
import MobileMenuToggle from "./ui/MobileMenuToggle.astro";
import { ModeToggle } from '@/components/ui/mode-toggle'
import { MobileMenu } from "./my/MobileMenu";
import { NavigationMenuDemo } from "./ui/NavigationMenu";
---

<header id="navbar" class="sticky" transition:persist="">
  <div class="inner-wrapper">
    <!-- Site Logo -->
    <div class="branding">
      <a href="/" class="flex items-center space-x-2 tracking-tight text-primary dark:text-white">
        <span class="inline-block font-bold display wide">LP Dev Central</span>
      </a>
    </div>

    <nav class="navigation">
      {menuConfig.mainNav.map(item => (
        <a href={item.href} class="">{item.title}</a>
      ))}
    </nav>

    <div class="actions">
      <MobileMenu client:load transition:persist />
      <ModeToggle client:load transition:persist />
    </div>

  </div>

  <!-- <nav id="mobile-menu">
    {menuConfig.mainNav.map(item => (
      <a href={item.href} class="item">{item.title}</a>
    ))}
  </nav> -->

</header>

{/*<script>
  function handleScroll() {
    const header = document.getElementById('navbar');
    if (window.scrollY > 8) {
      header.classList.add('scrolled');
    } else {
      header.classList.remove('scrolled');
    }
  }
  document.addEventListener('scroll', handleScroll);
</script>*/}