---
import { menuConfig } from "config/site";
import MobileMenuToggle from "./ui/mobile-menu-toggle.astro";
import { ModeToggle } from "./ui/ModeToggle";
---

<header id="navbar" class="sticky ">
  <div class="inner-wrapper">
    <!-- Site Logo -->
    <div class="branding">
      <a href="/" class="flex items-center space-x-2 tracking-tight text-primary dark:text-white">
        <span class="inline-block font-bold display wide">LP Dev Central</span>
      </a>
    </div>

    <nav class="navigation">
      {menuConfig.mainNav.map(item => (
        <a href={item.href} class="">{item.title}</a>
      ))}
    </nav>

    <div class="actions">
      <MobileMenuToggle />
      <ModeToggle client:load />
    </div>

  </div>

  <nav id="mobile-menu">
    {menuConfig.mainNav.map(item => (
      <a href={item.href} class="item">{item.title}</a>
    ))}
  </nav>

</header>

<script>
  function handleScroll() {
    const header = document.getElementById('navbar');
    if (window.scrollY > 8) {
      header.classList.add('scrolled');
    } else {
      header.classList.remove('scrolled');
    }
  }

  // Use this check to ensure the code only runs in the browser
  if (typeof window !== 'undefined') {
    document.addEventListener('DOMContentLoaded', () => {
      handleScroll(); // Call once to set initial state
      document.addEventListener('scroll', handleScroll);
    });
  }
</script>