<!-- Slider main container -->
<div class="swiper flex flex-col -mx-4 -mb-4 mt-4 rounded-2xl ring-1  dark:ring-white/10 ring-primary/5 bg-tertiary">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
      loading="lazy"
      src="/media/works/blowhammer/blowhammer-drops.jpeg"
      class="object-cover w-full lg:h-auto"
    />
      </div>
      <div class="swiper-slide">
        <img
      loading="lazy"
      src="/media/works/blowhammer/blowhammer-drops.jpeg"
      class="object-cover w-full lg:h-auto"
    />
      </div>
      <div class="swiper-slide">Slide 3</div>
      <img
      loading="lazy"
      src="/media/works/blowhammer/blowhammer-drops.jpeg"
      class="object-cover w-full lg:h-auto"
    />
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  

</div>
<script src="../libs/slider.js"></script>