---
// Page related
import Card from '@/components/ui/Card.astro';
import { Badge } from '@/components/ui/badge';
import { websiteData } from '@/lib/WebsitesData.json';
import { WebsiteDrawer } from '@/components/my/WebsiteButtonDrawer';
import { Separator } from '@/components/ui/separator';
import '@/styles/websites.css';

// Filtra solo i siti web "pinned"
const pinnedWebsites = websiteData.filter((website) => website.pinned === true);
---

<Card
  rowStart="lg:row-start-2"
  rowSpan="lg:row-span-2"
  colStart='lg:col-start-2'
  colSpan='lg:col-span-2'
  justify='between'
  class:list={['group']}
>
  <div slot="trailing">
    <Badge variant="secondary">
      Recent works
    </Badge>
    <h3 class="xl mt-2">Websites</h3>
    <p class="mt-3">
      A collection of the websites I've created recently.
      <br />
      <a href="/websites" class="underline">Comprehensive list↗</a>
    </p>
  </div>

  <style>
    .websiteList {
      @apply flex flex-col divide-y divide-zinc-200 dark:divide-zinc-700 -mx-4 -mb-4 mt-4;
    }
    .websiteButton {
      @apply py-3 px-4 flex justify-between text-lg lg:text-xl;
      @apply focus:ring-2 focus:ring-offset-2 relative;
      @apply dark:hover:bg-white/5 hover:bg-primary/10 duration-200;
    }
    .websiteButton > img {
      width: 37.5%;
      height: auto;
      z-index: 99;
      background: url('/media/var/placeholder.jpg') center no-repeat cover;
    }
    .websiteButton:not(:hover) > img {
      display: none !important;
    }
    .website-image, .website-mobile-image {
    background: url(/media/var/placeholder.jpg) center;
    background-size: cover;
    }
  </style>
  
  <div slot="content" class="websiteList">
    {pinnedWebsites.map((website, index) => (
      <>
        <WebsiteDrawer website={website} client:load />
        {index < pinnedWebsites.length - 1 && (
          <Separator class="my-4" />
        )}
      </>
    ))}
  </div>
</Card>