---
import Card from "@/components/ui/Card.astro";
---

<Card
  colSpan="lg:col-span-2 xl:col-span-1"
  rowSpan="lg:row-span-2"
  justify="between"
>
  <p slot="content" class="text-xl md:text-3xl heading">
    As a designer, my expertise lies in crafting distinctive visual identities
    for both digital and offline products.
    <br /><br />
    I hold the belief that an engaging design begins with shared values, transparent
    communication, and a genuine respect for the audience.
  </p>
  <p slot="more" class="mt-4">L.P.</p>
</Card>
