---
import Card from "@/components/ui/Card.astro";
import { testimonials } from '@/lib/data.Testimonials';
---

<Card rowStart="lg:row-start-4" justify='between'>
  <h3 slot="trailing" class="lg">Testimonials</h3>
  <div slot="content" class="md:grid md:grid-cols-2 gap-4 lg:grid-cols-1 mt-4">
      {
        // Filtra i siti con 'pinned' impostato a true
        testimonials.filter((testimonial) => testimonial.pinned === true).map((testimonial, index) => (
        <div>
          <blockquote class:list={['text-sm', testimonial.quoteColor]}>
            {testimonial.quote}
          </blockquote>
          <p class="mt-2 text-xs">
            <span class="block font-medium">{testimonial.name}</span>
            <span class="block italic">{testimonial.role}</span>
          </p>
        </div>
        ))
      }
  </div>  
</Card>
