<div
  class="ring-1 dark:ring-white/10 ring-primary/5 shadow-xl dark:shadow-thick rounded-3xl p-8 lg:row-start-4 h-full flex flex-col justify-between bg-white dark:bg-custom-secondary"
>
  <p
    class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-5xl"
  >
    Testimonials
  </p>
  <div class="md:grid md:grid-cols-2 gap-4 lg:grid-cols-1">
    <div class="mt-4">
      <blockquote class="text-sm text-pink-500 dark:text-pink-400">
        "Luigi is a competent and punctual professional, who demonstrates full
        control of the work entrusted to him. Welcoming and always polite."
      </blockquote>
      <p class="text-xs mt-2 text-zinc-500">
        <span class="block text-xs">Alessia Canarino</span>
        <span class="block text-xs">Wine Educator</span>
      </p>
    </div>
    <div class="mt-2">
      <blockquote class="text-sm text-orange-500 dark:text-orange-300">
        "Luigi created my company's website. He is professional and lived up to
        my expectations. I highly recommend it to anyone who needs to design and
        create their own site in any area."
      </blockquote>
      <p class="text-xs mt-2 text-zinc-500">
        <span class="block text-xs">Francesco Belcuore</span>
        <span class="block text-xs">Engineer & Entrepreneur</span>
      </p>
    </div>
    <!-- <div class="mt-2">
        <blockquote class="text-sm text-green-700 dark:text-green-500">
          "An exemplary professional, he puts a lot of passion into it and is
          very good at directing his strong creative nature to the service of
          practicality, without getting lost in merely aesthetic exercises.
          Top!"
        </blockquote>
        <p class="text-xs mt-2 text-zinc-500">
          <span class="block text-xs">Andrea Avitabile</span>
          <span class="block text-xs">SEO Copywriter</span>
        </p>
      </div> -->
  </div>
</div>
