---
// import the Image component and the image
import Card from '../components/ui/Card.astro';
import { Image, Picture } from 'astro:assets';
import video from '../media/visio.mp4';
import poster from '../media/visio.jpg';
import { ArrowUpRight } from 'lucide-react';
---

<Card
  href="https://www.visiodp.com/"
  target='_blank'
  rowSpan="lg:row-span-2"
>
  <div slot="content" class="-ml-4 -mt-4 -mr-4">
    <video
      poster={poster.src}
      src={video}
      class="media"
      autoplay
      muted
      loop
    >
    </video>
  </div>

  <div slot="more">
    <div class="flex justify-between items-center">
      <span class="font-medium">
        Currently hustling at
      </span>
      <ArrowUpRight className='link' strokeWidth={1.5}/>
    </div>
    <h3 class="xl mt-3" >
      Visio Digital Partner
    </h3>
    <p class="mt-4">
      A digital performance agency that accelerates digital growth of companies
      that want to develop, optimise, and scale their business in the digital
      world.
    </p>
  </div>
</Card>