---
// Globals
import BaseHead from '../components/global/BaseHead.astro'
import GTMafterBody from '../components/global/tracking/GTMafterBody.astro'
import SpeedInsights from '@vercel/speed-insights/astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
}

const { title, description, ogImage } = Astro.props
---

<html lang="en">
  <BaseHead title={title} description={description} ogImage={ogImage} />

  <body class="bg-zinc-200 dark:bg-primary">
    <GTMafterBody />
    <Header />
    <slot name="main" />
    <Footer />
    <SpeedInsights />
  </body>
</html>
