---
import About from "../components/landing/About.astro";
import Social from "../components/landing/Social.astro";
import Portfolio from "../components/landing/Portfolio.astro";
import BigProject from "../components/landing/Project0big.astro";
import Project1 from "../components/landing/Project1.astro";
import Project2 from "../components/landing/Project2.astro";
import Visio from "../components/landing/Visio.astro";
import Form from "../components/landing/Form.astro";
import Testimonials from "../components/landing/Testimonials.astro";
import Quote from "../components/landing/Quote.astro";
---

<main
  class="p-4 grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4"
>
  <About />
  <Social />
  <BigProject />
  <Portfolio />
  <Project1 />
  <Project2 />
  <Visio />
  <Form />
  <Testimonials />
  <Quote />

</main>
